In [3]:
import os 
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from math import sqrt
from datetime import datetime

%matplotlib inline

In [7]:
confirmed_df = pd.read_csv("time_series_covid19_confirmed_global.csv")
death_df = pd.read_csv("time_series_covid19_deaths_global.csv")
recovered_df = pd.read_csv("time_series_covid19_recovered_global.csv")

print("The Shape of confirmed is: ",confirmed_df.shape)
print("The Shape of deaths is: ",death_df.shape)
print("The Shape of recovered is: ", recovered_df.shape)

confirmed_df.head()

The Shape of confirmed is:  (271, 350)
The Shape of deaths is:  (271, 350)
The Shape of recovered is:  (256, 350)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/23/20,12/24/20,12/25/20,12/26/20,12/27/20,12/28/20,12/29/20,12/30/20,12/31/20,1/1/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,50433,50655,50810,50886,51039,51280,51350,51405,51526,51526
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,54317,54827,55380,55755,56254,56572,57146,57727,58316,58316
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,96549,97007,97441,97857,98249,98631,98988,99311,99610,99897
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,7669,7699,7756,7806,7821,7875,7919,7983,8049,8117
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,16931,17029,17099,17149,17240,17296,17371,17433,17553,17568

In [9]:
# checking the null values in the data
print(confirmed_df.isnull().sum())
print("\n")
print(death_df.isnull().sum())
print("\n")
print(recovered_df.isnull().sum())

Province/State    188
Country/Region      0
Lat                 1
Long                1
1/22/20             0
                 ...
12/28/20            0
12/29/20            0
12/30/20            0
12/31/20            0
1/1/21              0
Length: 350, dtype: int64


Province/State    188
Country/Region      0
Lat                 1
Long                1
1/22/20             0
                 ...
12/28/20            0
12/29/20            0
12/30/20            0
12/31/20            0
1/1/21              0
Length: 350, dtype: int64


Province/State    189
Country/Region      0
Lat                 0
Long                0
1/22/20             0
                 ...
12/28/20            0
12/29/20            0
12/30/20            0
12/31/20            0
1/1/21              0
Length: 350, dtype: int64

In [11]:
# changing the colums names as per our requirements
confirm_data=pd.melt(confirmed_df,id_vars=['Province/State','Country/Region','Lat','Long'],var_name='Date')
death_data=pd.melt(death_df,id_vars=['Province/State','Country/Region','Lat','Long'],var_name='Date')
recovered_data=pd.melt(recovered_df,id_vars=['Province/State','Country/Region','Lat','Long'],var_name='Date')

# displaying the data with the modification in the column along with the dimension
print(confirm_data.head())
print(confirm_data.shape)
print(death_data.head())
print(death_data.shape)
print(recovered_data.head())
print(recovered_data.shape)

  Province/State Country/Region       Lat       Long     Date  value
0            NaN    Afghanistan  33.93911  67.709953  1/22/20      0
1            NaN        Albania  41.15330  20.168300  1/22/20      0
2            NaN        Algeria  28.03390   1.659600  1/22/20      0
3            NaN        Andorra  42.50630   1.521800  1/22/20      0
4            NaN         Angola -11.20270  17.873900  1/22/20      0
(93766, 6)
  Province/State Country/Region       Lat       Long     Date  value
0            NaN    Afghanistan  33.93911  67.709953  1/22/20      0
1            NaN        Albania  41.15330  20.168300  1/22/20      0
2            NaN        Algeria  28.03390   1.659600  1/22/20      0
3            NaN        Andorra  42.50630   1.521800  1/22/20      0
4            NaN         Angola -11.20270  17.873900  1/22/20      0
(93766, 6)
  Province/State Country/Region       Lat       Long     Date  value
0            NaN    Afghanistan  33.93911  67.709953  1/22/20      0
1            NaN        Albania  41.15330  20.168300  1/22/20      0
2            NaN        Algeria  28.03390   1.659600  1/22/20      0
3            NaN        Andorra  42.50630   1.521800  1/22/20      0
4            NaN         Angola -11.20270  17.873900  1/22/20      0
(88576, 6)

In [13]:
confirm_data['Date'] = pd.to_datetime(confirm_data['Date'])
death_data['Date'] = pd.to_datetime(death_data['Date'])
recovered_data['Date'] = pd.to_datetime(recovered_data['Date'])

C:\Users\User\AppData\Local\Temp\ipykernel_11104\1085757272.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  confirm_data['Date'] = pd.to_datetime(confirm_data['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_11104\1085757272.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  death_data['Date'] = pd.to_datetime(death_data['Date'])
C:\Users\User\AppData\Local\Temp\ipykernel_11104\1085757272.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  recovered_data['Date'] = pd.to_datetime(recovered_data['Date'])

In [15]:
# Corrected variable names to match the melted dataframes
confirm_data.columns = confirm_data.columns.str.replace('value', 'Confirmed')
death_data.columns = death_data.columns.str.replace('value', 'Deaths')
recovered_data.columns = recovered_data.columns.str.replace('value', 'Recovered')
# displaying the corected variables
confirm_data.head()
death_data.head()
recovered_data.head()
#checking that still any null values exists
recovered_data.isnull().sum()
confirm_data.isnull().sum()
death_data.isnull().sum()

Province/State    65048
Country/Region        0
Lat                 346
Long                346
Date                  0
Deaths                0
dtype: int64

In [17]:
# Fill null values in 'Province/State' with 'Country/Region'
confirm_data['Province/State'].fillna(confirm_data['Country/Region'], inplace=True)
death_data['Province/State'].fillna(death_data['Country/Region'], inplace=True)
recovered_data['Province/State'].fillna(recovered_data['Country/Region'], inplace=True)

recovered_data.isnull().sum()

C:\Users\User\AppData\Local\Temp\ipykernel_11104\2345952446.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  confirm_data['Province/State'].fillna(confirm_data['Country/Region'], inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_11104\2345952446.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  death_data['Province/State'].fillna(death_data['Country/Region'], inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_11104\2345952446.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  recovered_data['Province/State'].fillna(recovered_data['Country/Region'], inplace=True)

Province/State    0
Country/Region    0
Lat               0
Long              0
Date              0
Recovered         0
dtype: int64

In [19]:
# Print the shape of the confirmed_data, death_data, and recovered_data dataframes
print("The Shape of confirmed is: ", confirm_data.shape)
print("The Shape of deaths is: ", death_data.shape)
print("The Shape of recovered is: ", recovered_data.shape)

confirm_data
recovered_data
death_data

The Shape of confirmed is:  (93766, 6)
The Shape of deaths is:  (93766, 6)
The Shape of recovered is:  (88576, 6)

,Province/State,Country/Region,Lat,Long,Date,Deaths
0,Afghanistan,Afghanistan,33.939110,67.709953,2020-01-22,0
1,Albania,Albania,41.153300,20.168300,2020-01-22,0
2,Algeria,Algeria,28.033900,1.659600,2020-01-22,0
3,Andorra,Andorra,42.506300,1.521800,2020-01-22,0
4,Angola,Angola,-11.202700,17.873900,2020-01-22,0
...,...,...,...,...,...,...
93761,Vietnam,Vietnam,14.058324,108.277199,2021-01-01,35
93762,West Bank and Gaza,West Bank and Gaza,31.952200,35.233200,2021-01-01,1418
93763,Yemen,Yemen,15.552727,48.516388,2021-01-01,610
93764,Zambia,Zambia,-13.133897,27.849332,2021-01-01,390
93765,Zimbabwe,Zimbabwe,-19.015438,29.154857,2021-01-01,369

In [21]:
# Merge the confirmed_data and death_data dataframes
# Use 'Province/State', 'Country/Region', and 'Date' as the keys for merging
# Use a 'left' merge to keep all rows from the confirmed data
full_join = confirm_data.merge(death_data[['Province/State','Country/Region','Date','Deaths']],
                                      how = 'left',
                                      left_on = ['Province/State','Country/Region','Date'],
                                      right_on = ['Province/State', 'Country/Region','Date'])
full_join.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths
0,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-22,0,0
1,Albania,Albania,41.15330,20.168300,2020-01-22,0,0
2,Algeria,Algeria,28.03390,1.659600,2020-01-22,0,0
3,Andorra,Andorra,42.50630,1.521800,2020-01-22,0,0
4,Angola,Angola,-11.20270,17.873900,2020-01-22,0,0

In [23]:
#full join recoverd data
full_join = full_join.merge(recovered_data[['Province/State','Country/Region','Date','Recovered']],
                                      how = 'left',
                                      left_on = ['Province/State','Country/Region','Date'],
                                      right_on = ['Province/State', 'Country/Region','Date'])
full_join.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0
1,Albania,Albania,41.15330,20.168300,2020-01-22,0,0,0.0
2,Algeria,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0
3,Andorra,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0
4,Angola,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0

In [25]:
# adding month and year as a new column
full_join['Month-Year'] = full_join['Date'].dt.strftime('%b-%Y')
full_join.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Month-Year
0,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,Jan-2020
1,Albania,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,Jan-2020
2,Algeria,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,Jan-2020
3,Andorra,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,Jan-2020
4,Angola,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,Jan-2020

In [27]:
full_join2 = full_join.copy()

#creating a new date columns - 1
full_join2['Date - 1'] = full_join2['Date'] + pd.Timedelta(days=1)
full_join2.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1',
                          'Date': 'Date Minus 1'}, inplace=True)
full_join2.head()

,Province/State,Country/Region,Lat,Long,Date Minus 1,Confirmed - 1,Deaths - 1,Recovered - 1,Month-Year,Date - 1
0,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,Jan-2020,2020-01-23
1,Albania,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,Jan-2020,2020-01-23
2,Algeria,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,Jan-2020,2020-01-23
3,Andorra,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,Jan-2020,2020-01-23
4,Angola,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,Jan-2020,2020-01-23

In [29]:
full_join3 = full_join.merge(full_join2[['Province/State', 'Country/Region','Confirmed - 1', 'Deaths - 1', 
                            'Recovered - 1', 'Date - 1', 'Date Minus 1']], how = 'left',
                             left_on = ['Province/State','Country/Region','Date'], 
                             right_on = ['Province/State', 'Country/Region','Date - 1'])
full_join3.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Month-Year,Confirmed - 1,Deaths - 1,Recovered - 1,Date - 1,Date Minus 1
0,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT
1,Albania,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT
2,Algeria,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT
3,Andorra,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT
4,Angola,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT

In [31]:
# getting the shape of full join of three datasets
full_join3['Confirmed Daily'] = full_join3['Confirmed'] - full_join3['Confirmed - 1']
full_join3['Deaths Daily'] = full_join3['Deaths'] - full_join3['Deaths - 1']
full_join3['Recovered Daily'] = full_join3['Recovered'] - full_join3['Recovered - 1']

print(full_join3.shape)

(93766, 17)

In [33]:
full_join3.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Month-Year,Confirmed - 1,Deaths - 1,Recovered - 1,Date - 1,Date Minus 1,Confirmed Daily,Deaths Daily,Recovered Daily
0,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
1,Albania,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
2,Algeria,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
3,Andorra,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
4,Angola,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN

In [37]:
# breaking the numbers by day
#creating a new df    
full_join2 = full_join.copy()

#creating a new date columns - 1
full_join2['Date - 1'] = full_join2['Date'] + pd.Timedelta(days=1)
full_join2.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1',
                          'Date': 'Date Minus 1'}, inplace=True)

#Joing on the 2 DFs
full_join3 = full_join.merge(full_join2[['Province/State', 'Country/Region','Confirmed - 1', 'Deaths - 1', 
                            'Recovered - 1', 'Date - 1', 'Date Minus 1']], how = 'left',
                             left_on = ['Province/State','Country/Region','Date'], 
                             right_on = ['Province/State', 'Country/Region','Date - 1'])

#minus_onedf.rename(columns={'Confirmed': 'Confirmed - 1', 'Deaths': 'Deaths - 1', 'Recovered': 'Recovered - 1'}, inplace=True)

full_join3.head()

# Additional Calculations
full_join3['Confirmed Daily'] = full_join3['Confirmed'] - full_join3['Confirmed - 1']
full_join3['Deaths Daily'] = full_join3['Deaths'] - full_join3['Deaths - 1']
full_join3['Recovered Daily'] = full_join3['Recovered'] - full_join3['Recovered - 1']

print(full_join3.shape)
full_join3.head()

(93766, 17)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Month-Year,Confirmed - 1,Deaths - 1,Recovered - 1,Date - 1,Date Minus 1,Confirmed Daily,Deaths Daily,Recovered Daily
0,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
1,Albania,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
2,Algeria,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
3,Andorra,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN
4,Angola,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,Jan-2020,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN

In [39]:
# Additing manually the numbers for first day

full_join3['Confirmed Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Confirmed']
full_join3['Deaths Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Deaths']
full_join3['Recovered Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Recovered']

# deleting columns
del full_join3['Confirmed - 1']
del full_join3['Deaths - 1']
del full_join3['Recovered - 1']
del full_join3['Date - 1']
del full_join3['Date Minus 1']

C:\Users\User\AppData\Local\Temp\ipykernel_11104\4172114942.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  full_join3['Confirmed Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Confirmed']
C:\Users\User\AppData\Local\Temp\ipykernel_11104\4172114942.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_join3['Confirmed Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Confirmed']
C:\Users\User\AppData\Local\Temp\ipykernel_11104\4172114942.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  full_join3['Deaths Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Deaths']
C:\Users\User\AppData\Local\Temp\ipykernel_11104\4172114942.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_join3['Deaths Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Deaths']
C:\Users\User\AppData\Local\Temp\ipykernel_11104\4172114942.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  full_join3['Recovered Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Recovered']
C:\Users\User\AppData\Local\Temp\ipykernel_11104\4172114942.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_join3['Recovered Daily'].loc[full_join3['Date'] == '2020-01-22'] = full_join3['Recovered']

In [41]:
# r3emoving of negative values
full_join3[full_join3["Deaths Daily"]<0]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Month-Year,Confirmed Daily,Deaths Daily,Recovered Daily
14778,Iceland,Iceland,64.963100,-19.020800,2020-03-16,180,0,0.0,Mar-2020,9.0,-5.0,-8.0
15653,Philippines,Philippines,12.879721,121.774017,2020-03-19,217,17,8.0,Mar-2020,15.0,-2.0,3.0
15862,Iceland,Iceland,64.963100,-19.020800,2020-03-20,409,0,5.0,Mar-2020,79.0,-1.0,0.0
16134,India,India,20.593684,78.962880,2020-03-21,330,4,23.0,Mar-2020,86.0,-1.0,3.0
16311,Quebec,Canada,52.939900,-73.549100,2020-03-22,219,4,NaN,Mar-2020,38.0,-1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
87140,Ireland,Ireland,53.142400,-7.692100,2020-12-08,74682,2097,23364.0,Dec-2020,214.0,-2.0,0.0
87259,Yemen,Yemen,15.552727,48.516388,2020-12-08,2078,606,1382.0,Dec-2020,-305.0,-43.0,-172.0
88203,France,France,46.227600,2.213700,2020-12-12,2350793,57210,152555.0,Dec-2020,-130.0,-1.0,0.0
88585,Tajikistan,Tajikistan,38.861000,71.276100,2020-12-13,12704,88,12133.0,Dec-2020,80.0,-1.0,83.0
92439,Bosnia and Herzegovina,Bosnia and Herzegovina,43.915900,17.679100,2020-12-28,109911,3942,76121.0,Dec-2020,220.0,-11.0,404.0

In [43]:
full_join3['Deaths Daily']=np.where(full_join3['Deaths Daily']<0 ,0,full_join3['Deaths Daily'])
full_join3['Confirmed Daily']=np.where(full_join3['Confirmed Daily']<0 ,0,full_join3['Confirmed Daily'])
full_join3['Recovered Daily']=np.where(full_join3['Recovered Daily']<0 ,0,full_join3['Recovered Daily'])

In [49]:
path = r"C:\Users\User\Desktop"

# Changing my CWD
os.chdir(path)

full_join3.to_csv('CoronaVirus Data.csv')
os.chdir(path)

full_join3.to_csv('CoronaVirus Data.csv')